/* 公共样式 */
body {
    min-width: 1200px;
    font: 14px "PingFang SC", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
}
.main {
    min-height: 500px;
}
a, a:hover, a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}

/* section部分 */
.section .tip {
    width: 650px;

    margin: 0 auto;
}
.section .tip .title {
    margin-top: 10px;

    font-size: 30px;
}
.section .tip .content {
    margin-top: 20px;

    font-size: 16px;
    text-align: center;
}
