.icon-brand {
    line-height: initial;
}
.icon-brand::before {
    content: "\e601";
    display: inline-block;
    margin-left: 40px;
    margin-top: 5px;
    color: #fff;
    font-size: 34px;
}
.icon-logout::before {
    content: "\e602";
    display: inline-block;
    margin-left: 40px;
    color: #fff;
    font-size: 23px;
}

/* 侧边栏 */
.icon-contentManage::before {
    content: "\e60c";
    font-size: 20px;
}
.icon-courseManage::before {
    content: "\e60a";
}
.icon-articleManage::before {
    content: "\e606";
}
.icon-articleReview::before {
    content: "\e607";
}
.icon-systemSetting::before {
    content: "\e60d";
    font-size: 20px;
}
.icon-authorityManage::before {
    content: "\e605";
}
.icon-moduleManage::before {
    content: "\e60e";
}
.icon-userManage::before {
    content: "\e60b";
}
.icon-roleManage::before {
    content: "\e604";
}
.icon-roleAssign::before {
    content: "\e608";
}

.icon-search::before {
    content: "\e60f";
    position: absolute;
    right: 10px;
    top: -15px;
    color: #709DF0;
}
.icon-modify::before {
    position: relative;
    content: "\e610";
    right: 10px;
    color: #709DF0;
}
.icon-delete::before {
    content: "\e611";
    position: relative;
    margin-left: 10px;
    right: 3px;
    top: 1px;
    color: #709DF0;
}
