.icon-brand {
    line-height: initial;
}
.icon-brand::before {
    content: "\e601";
    display: inline-block;
    margin-left: 40px;
    margin-top: 5px;
    color: #fff;
    font-size: 34px;
}
.icon-logout::before {
    content: "\e602";
    display: inline-block;
    margin-left: 40px;
    color: #fff;
    font-size: 23px;
}