.articleList {
    letter-spacing: .05cm;
}
.articleList li {
    line-height: 25px;
}
.articleList li:first-child {
    margin-top: 7px;
}
.articleList li:hover {
    cursor: pointer;
    text-decoration: underline;
}
.articleList .date {
    float: right;

    letter-spacing: .05cm;
}