html, body {
	height: 100%;
}
.banner {
	position: relative;

    height: 100%;
}
.banner .banner-item {
	position: relative;

    overflow: hidden;
	
	margin-top: 20px;
	height: 100%;
}


























