.ne-pager {
    position: relative;

    text-align: center;
}
.ne-pager .pagination {

}
.ne-pager .pagination > li {
    display: inline-block;
}
.ne-pager .pageNumInfo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 14px;
    letter-spacing: .25cm;
    color: #337AB7;
}
.ne-pager .curPage{
    border: none;
    margin: 1px;
}